* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    /* Variable CSS - https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
    --primary-color: rgb(33,36,61);
}
section {
    padding: 50px 0;
}
img {
    max-width: 100%;
    min-height: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    padding: 5px;
}
a:hover {
    color: #636363;
}
/* 
 ======================== Navigation =============================
*/
header {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    padding: 20px 0;
}
.nav {
    display: flex;
    justify-content: space-between;
}
#menu {
    top: 70px;
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 150px;
    right: 0;
    transition: right 0.2s;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    background-color: white;
    padding: 10px 20px;
}
#menu.hide {
    right: -200px;
}

@media(min-width: 576px) {
    #menu {
        width: auto;
        height: auto;
        position: static;
        padding: 0;
        box-shadow: none;
    }
    #menu li {
        display: inline-block;
    }
    .burguer-menu {
        display: none;
    }
}
/* 
 ======================== Banner =============================
*/
.profile-picture {
    width: 150px;
    height: 150px;
    background-color: rgba(158, 158, 158, 0.38);
    background-image: url('../img/face.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: auto;
}


/* 
 ======================== Posts =============================
*/
.posts {
    background-color: #EDF7FA;
}

/* 
 ======================== Work =============================
*/
.work-text {
    margin-bottom: 40px;
}
.work-item {
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 200px;
    position: relative;
}
.overlay-info {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 1s;
    overflow: hidden;
}
.work-item:hover .overlay-info {
    top: 0;
}
.academlo-webpage {
    background-image: url('../img/work.jpeg');
}
.google-webpage {
    background-image: url('https://images.pexels.com/photos/5417844/pexels-photo-5417844.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
.facebook-webpage {
    background-image: url('https://images.pexels.com/photos/267399/pexels-photo-267399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}

/* 
 ======================== Footer =============================
*/
footer {
    padding: 40px 0;
}

/*
======================== Components =============================
*/
/* Button component */
.primary-button {
    background-color: rgb(33,36,61);
    color: white;
    padding: 8px 15px;
    border: 0;
}

/* Card component */
.card {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    background-color: white;
}
.card .card-body {
    padding: 20px;
}
/* Tag component */
.tag {
    background-color: #e4e4e4;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
}
.primary-tag {
    background-color: rgb(33,36,61);
    color: white;
}
/*
======================== Helpers =============================
*/
.primary-text {
    color: rgb(33,36,61);
}
.center-text {
    text-align: center;
}
.space-top {
    margin-top: 20px;
}

.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}


/*  */
.element-transitionable-to-top {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: top 1s;
}
.transition-bottom-to-top {
    top: 0;
}